<%= turbo_frame_tag data_crumb do %>
  <div class="data-crumb">
    <%= link_to data_crumb.id, data_crumb_path(data_crumb), data: { turbo_frame: "_top" } %>
    <%= data_crumb.content %>
    <div class="data-crumb__actions">
      <%= button_to "Delete", data_crumb_path(data_crumb),
                    method: :delete,
                    form: { data: { turbo_frame: "_top" } },
                    class: "btn btn--light" %>
      <%= link_to "Edit", edit_data_crumb_path(data_crumb), class: "btn btn--light" %>
    </div>
  </div>
<% end %>
