<%= simple_form_for data_crumb, html: { class: 'quote form' } do |f| %>
  <% if data_crumb.errors.any? %>
    <div class="error-message">
      <%= data_crumb.errors.full_messages.to_sentence.capitalize %>
    </div>
  <% end %>

  <%= f.input :content, input_html: { autofocus: true } %>
  <%= f.collection_select :warehouse_id, current_warehouses, :id, :name, {} %>
  <%= f.collection_select :feature_id, current_features, :id, :name, {} %>
  <%= link_to 'Cancel', data_crumbs_path, class: 'btn btn--light' %>
  <%= f.submit "#{action_name == 'edit' ? 'Update' : 'Create'} Data Crumb", class: 'btn btn--secondary' %>
<% end %>
