<%= simple_form_for prompt_decorator, html: { class: "prompt_decorator form" } do |f| %>
  <% if prompt_decorator.errors.any? %>
    <div class="error-message">
      <%= prompt_decorator.errors.full_messages.to_sentence.capitalize %>
    </div>
  <% end %>


  <div class="prompt-decorator__form">
    <div class="__name_row">
      <div class="__item">
        <p>Name</p>
        <%= f.input :name, input_html: { autofocus: true } %>
      </div>
    </div>
    <div class="__value_row">
      <div class="__item">
        <p>Value</p>
        <%= f.input :value, as: :text %>
      </div>
      <div class="__item">
        <p>Priority</p>
        <%= f.input :priority, as: :text %>
      </div>
    </div>
    <div>
      <%= f.input :feature_id, as: :hidden, input_html: { value: @feature.id } %>
    </div>
    <div>
      <%= link_to "Cancel", feature_path(@feature), class: "btn btn--light" %>
      <%= f.submit "#{action_name == 'edit' ? 'Update' : 'Create'} Prompt Decorator", class: "btn btn--secondary" %>
    </div>
  </div>
<% end %>
