<%= simple_form_for prompt_decorator, html: { class: "prompt_decorator form" } do |f| %>
  <% if prompt_decorator.errors.any? %>
    <div class="error-message">
      <%= prompt_decorator.errors.full_messages.to_sentence.capitalize %>
    </div>
  <% end %>


  <div class="prompt-decorator__form">
    <div class="__name_row">
      <div class="__item">
        <p>Name</p>
        <%= f.input :name, input_html: { autofocus: true } %>
      </div>
      <div class="__dropdown __item">
        <p>Decorator Types</p>
        <%= f.collection_select :decorator_type, PromptDecorator::DECORATOR_TYPES, :last, :first, {} %>
      </div>
    </div>
    <div class="__value_row">
      <div class="__item">
        <p>Value</p>
        <%= f.input :value, as: :text %>
      </div>
    </div>
    <div>
      <%= f.input :warehouse_id, as: :hidden, input_html: { value: @warehouse.id } %>
    </div>
    <div>
      <%= link_to "Cancel", warehouse_path(@warehouse), class: "btn btn--light" %>
      <%= f.submit "#{action_name == 'edit' ? 'Update' : 'Create'} Prompt Decorator", class: "btn btn--secondary" %>
    </div>
  </div>
<% end %>
